* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

html, body {
  height: 100%;
  width: 100%;
}
  ::-webkit-scrollbar {
    display: none;
}

.main{
    width: 100%;
    height: 100%;
    background-color: rgba(245, 222, 179, 0.224);
}
.cursor{
    height: 30px;
    width: 30px;
    background-color: rgba(237, 103, 14, 0.851);
    border-radius: 50%;
    position: absolute;
    mix-blend-mode: difference;
    transition: all linear 0.2s;
}
.navbar{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.nav-part1{
    display: flex;
    gap: 1em;
}
.nav-part1 h3{
 font-weight: 500;
 font-size: 20px;
 border: 2px solid black;
 padding: 0 20px;
 border-radius: 50px;
}
.nav-part1 i{
 font-weight: 500;
 font-size: 20px;
 border: 2px solid black;
 padding: 0 20px;
 border-radius: 50px;
}
.nav-part2 h1{
    font-size: 50px;
    text-transform: uppercase;
}
.nav-part3 button{
    height: 40px;
  font-weight: 500;
 font-size: 20px;
 border: 1px solid black;
 padding: 0 20px;
 border-radius: 50px;
}
#Sign{
  background-color: orangered;
}
#heading h1{
    font-size: 170px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
    font-weight: 300;
}
.image {
    position: relative;
    width: 250px;
    height: 320px;
    margin: 10% auto;
}
.image img{
    position: absolute;
    height: 350px;
    width: 250px;
    object-fit: cover;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(var(--rot));
    transition: 
    transform 3.5s cubic-bezier(.22,.61,.36,1),
    opacity 2.5s ease;
    cursor: pointer;
}
.image img:nth-child(1) 
{ 
     --rot: -15deg;
     z-index: 1; 
    }
.image img:nth-child(2) 
{ 
    --rot: -8deg;
     z-index: 2; 
}
.image img:nth-child(3) 
{ 
    --rot: -3deg;  
    z-index: 3; 
}
.image img:nth-child(4) 
{ 
    --rot: 3deg; 
    z-index: 4;
 }
.image img:nth-child(5)
 { 
    --rot: 8deg;  
    z-index: 5;
 }
.image img:nth-child(6) 
{ 
    --rot: 0deg; 
    z-index: 6; 
}
.image img.gone-up {
    transform: translate(-50%, -200%) rotate(calc(var(--rot) - 40deg));
    opacity: 0;
}

.image img.gone-down {
    transform: translate(-50%, 200%) rotate(calc(var(--rot) + 40deg));
    opacity: 0;
}
.footer{
    display: flex;
    justify-content: space-between;
    margin: 10%;
}
.footer .part2{
    border: 2px solid rgb(27, 25, 25);
    border-radius: 20px;
    background-color: black;
    color: wheat;
}
.footer .part2 i{
    font-size: 25px;
}